@page "/doctors"
@using BusinessLayer
@using CityCentreProject.Components.Services
@using ServiceLayer
@rendermode InteractiveServer
@inject DoctorManager doctorManager
@inject StateContainer<Doctor> doctorContainer;

<MudContainer>
	<MudCardContent>
		<MudText>Списък на специалисти</MudText>
	</MudCardContent>
</MudContainer>



<MudContainer>
	<MudGrid Justify="Justify.Center">
		<MudItem>
			<MudNavLink Href="/">Назад </MudNavLink>
		</MudItem>
	</MudGrid>
</MudContainer>

<MudContainer>
	<div style="display: flex; justify-content: space-between;">
		<MudLink Href="doctors/createDoctor">Създай нов Лекар</MudLink>
		<MudLink Href="doctors/createLabSpecialist">Създай нов лабораторен специалист</MudLink>
	</div>
	<MudSimpleTable class="table" Hover="true" Dense="true" Bordered="@bordered"  FixedHeader="@fixedheader" Style="@(fixedheader?"height:300px;":"")">
		<thead>
			<tr>
				@foreach (var h in headings)
				{
					<th>@h</th>
				}
			</tr>
		</thead>
		<tbody>
			@if (doctors == null)
			{
				<tr><td>Зареждане...</td></tr>
			}
			else
			{
				@foreach (Doctor item in doctors)
				{
					<tr>
						<td class="center">
							@item.FirstName
						</td>
						<td>
							@item.SecondName
						</td class="center">
						<td>
							@item.LastName
						</td>
						<td class="center">
							@item.DoctorSpecialty.ToString()
						</td>
						<td class="center">
							@item.DoctorFloor
						</td>
						<td class="center">
							@item.DoctorRoom
						</td>
						<td class="center">
							@if (item.ProfilePic != null)
							{
								<img src="data:image;base64, @System.Convert.ToBase64String(item.ProfilePic)" />
							}
							
						</td>
						<td class="center">
							<MudLink href="doctors/edit" @onclick="(() => SetGroup(item))">Промени</MudLink> |
							<MudLink href="doctors/delete" @onclick="(() => SetGroup(item))">Изтрий</MudLink>
						</td>
					</tr>
				}
			}
		</tbody>

	</MudSimpleTable>
</MudContainer>




@code {
    bool fixedheader = true;
	private bool bordered = true;

    string[] headings = { "Име", "Презиме", "Фамилия", "Специалност", "Етаж", "Стая", "Профилна снимка" };

    ICollection<Doctor> doctors;
    protected override async Task OnInitializedAsync()
    {
        await LoadGroups();
    }

    async Task LoadGroups()
    {
        doctors = await doctorManager.ReadAllAsync(true, false);
    }

    void SetGroup(Doctor doctor)
    {
        doctorContainer.SetValue(doctor);
    }

    async Task OnDelete(string id)
    {
        try
        {
            await doctorManager.DeleteAsync(id);
            await LoadGroups();
        }
        catch (Exception)
        {
            throw;
        }
    }
}
